<a href="https://colab.research.google.com/github/Super-rookie-Py/Python_assign/blob/master/%EB%B0%95%EA%B1%B4%EC%9A%B0_Coding_Quiz_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Coding Quiz #1

## 1부터 100 사이의 홀수와 짝수의 누적합을 구하시오. (10점)

In [21]:
even_sum = 0
odd_sum = 0

for i in range(1, 101):
  if i % 2 == 0:
    even_sum += i
  else:
    odd_sum += i

print("홀수의 합:", odd_sum)
print("짝수의 합:", even_sum)

홀수의 합: 2500
짝수의 합: 2550

## 2부터 100 사이의 소수를 구하는 코드를 작성하시오. (30점)

In [20]:
for i in range(2, 101):
  count = 0
  # 1부터 자기 자신까지 나누어떨어지는 횟수를 센다.
  for j in range(1,i+1):
    if i % j == 0: count += 1
  # 약수가 1과 자기 자신 뿐인 경우 소수
  if count == 2: print(j)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

## 가장 짧은 도시 이름을 출력하는 코드를 작성하시오. (30점)

In [26]:
cities = ['daejeon', 'seoul', 'daegu', 'busan', 'chuncheon', 'uijeongbu']

min_value = 100000000
min_city = ""

for city in cities:
  if min_value > len(city):
    min_value = len(city)
    min_city = city

print(min_city)

seoul

## 나이에 따른 입장료를 계산하는 코드를 작성하시오. (30점)

* 1~7세: 1000원
* 8~20세: 2000원
* 21~40세: 3000원
* 41~세: 1500원

In [28]:
age = 30
pay = 0

if age < 8:
  pay = 1000
elif age < 21:
  pay = 2000
elif age < 41:
  pay = 3000
else:
  pay = 1500

print("나이: {0}, 입장료: {1}".format(age, pay))

나이: 30, 입장료: 3000