<a href="https://colab.research.google.com/github/Super-rookie-Py/Python_assign/blob/master/%EB%B0%95%EA%B1%B4%EC%9A%B0_3_%EA%B5%B0%EC%A7%91_%EC%9E%90%EB%A3%8C%ED%98%95%2C_%EC%A0%9C%EC%96%B4%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

- keonwoo Park 2020/08/20

### 1. words_list 라는 list 안에 love, hate, I, happy, you, am, birthday, to, from, for, me, **dog** 라는 단어가 차례로 포함되어 있다. 이 단어들을 조합하여 2개의 문장을 만드시오.

In [3]:
words_list = ['love', 'hate', 'I', 'happy', 'you', 'am', 'birthday', 'to','from', 'for', 'me', 'dog']
print(words_list[2],words_list[5],words_list[3])
print(words_list[2],words_list[0],words_list[4])

I am happy
I love you

### 2. 어느 카페의 메뉴가 4가지 있다. Americano, Cafe latte, Green tea latte, Cafe mocha 각 메뉴의 가격은 3000원, 4000원, 4500원, 5000원일 때, 이 메뉴 목록을 dictionary로 작성하고 Cafe latte와 Cafe mocha 를 주문했을 때 결제액을 계산하는 프로그램을 작성하시오.

In [12]:
menu = {"Americano":3000 , "Cafe latte": 4000, "Green tea latte": 4500, "Cafe mocha": 5000}
price = menu["Cafe latte"]+menu["Cafe mocha"]
print("결제액은 {0}원 입니다.".format(price))

결제액은 9000원 입니다.

### 3. 튜플을 원소로 갖는 리스트의 각 원소들의 합을 구하는 프로그램을 작성하시오.

a = [(1, 2), (3, 4), (6, 7), (10, 11)]

(hint) for (n1,n2) in a:

In [14]:
a = [(1, 2), (3, 4), (5, 6), (7, 8)]

for (n1,n2) in a:
  print(n1+n2)

3
7
11
15

### 4. 10~30 사이의 홀수를 출력하고 그 홀수들의 합을 구하는 프로그램을 작성하시오.

In [33]:
num = [i for i in range(10,31) if i%2 == 1]
sum = 0
for i in num:
  print(i)
  sum += i
else:
  print("홀수 합:",sum)

11
13
15
17
19
21
23
25
27
29
홀수 합: 200

### 5. 2020년이 윤년인지 검사하는 프로그램을 작성하시오.


*  400 으로 나누어 떨어지는 해는 윤년이다.
*  4로 나누어 떨어지는 해는 윤년이다.
*  4로 나누어 떨어지지만 100으로 나누어 떨어지는 해는 윤년이 아니다.

In [32]:
year = 2020

if year % 400 == 0 or (year % 100 !=0 and year % 4 == 0):
  print("{0}년은 윤년입니다.".format(year))
else:
  print("{0}년은 윤년이 아닙니다.".format(year))

# for year in range(2020,2421):
#  if year % 400 == 0 or (year % 100 !=0 and year % 4 == 0):
#    print("{0}년은 윤년입니다.".format(year))
#  else:
#    print("{0}년은 윤년이 아닙니다.".format(year))

2020년은 윤년입니다.