<a href="https://colab.research.google.com/github/Super-rookie-Py/Python_assign/blob/master/%EB%B0%95%EA%B1%B4%EC%9A%B0_2_%EB%B3%80%EC%88%98%2C_%EC%9E%90%EB%A3%8C%ED%98%95%2C_%EC%97%B0%EC%82%B0%EC%9E%90%2C_%EB%AC%B8%EC%9E%90%EC%97%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

- keonwoo Park 2020/08/19

### 1. 반지름(r)이 5인 원의 넓이(area)를 제곱 연산자를 이용하여 구하는 프로그램을 작성하시오. (원주율은 3.14)

In [ ]:
r = 5
pi = 3.14
area = (r ** 2)*pi
print(area)

78.5

### 2. 변수 x, y 에 11, 22 를 각각 대입하고, 다른 변수 z를 이용하여 두 수를 교환하는 프로그램을 작성하시오.

In [ ]:
x, y = 11, 22
z = x
x = y
y = z
print(x, y)

22 11

### 3. 다음 코드의 실행 결과를 확인하시오.

`>>>` python = 'python is easy programming language.'

`>>>` python[10:25]

In [ ]:
python = 'python is easy programming language.'
print(python[10:25])

easy programmin

### 4. name, age, location 변수를 생성하고 각각 'Kevin', 25, 'New York'을 대입한 후, 변수를 이용하여 아래와 같은 문장이 출력하는 코드를 작성하시오.
Hello! My name is Kevin. I'm from New York. I am 25 years old.

In [ ]:
name = "Kevin"
age = 25
location = 'New York'
print(f"Hello! My name is {name}. I'm from {location}. I am {age} years old.")

Hello! My name is Kevin. I'm from New York. I am 25 years old.

### 5. 변수 string1 은 'red apple', 변수 string2는 'yellow banana'의 문자열을 담고 있다. 문자열 인덱싱을 이용하여 'red banana', 'yellow apple'을 출력해 보자.

In [ ]:
string1 = 'red apple'
string2 = 'yellow banana'
print(string1[:4]+string2[7:])
print(string2[:7]+string1[4:])

red banana
yellow apple